<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin View</title>
    <link rel="stylesheet" href="admin_view_style.css">
</head>
<body>

<!-- Top bar -->
<div class="top-bar">
    <a class="top-left" href="#logo">LOGO</a>
    <a class="top-left" id="bookhive" href="#bookhive">BookHive</a>
    <div id="my_profile_cont"><a class="top-right" id="my_profile" href="#my_profile">My profile</a></div>
</div>

<!-- Side navigation -->
<div class="sidebar">
    <a href="#authors">Authors</a>
    <a class="active" href="#books">Books</a>
    <a href="#bookstores">Bookstores</a>
    <a href="#bookclubs">Bookclubs</a>
    <a href="#forums">Forums</a>
    <a href="#genres">Genres</a>
    <a href="#pub-houses">Publishing houses</a>
    <a href="#logout" id="logout">Logout</a>
</div>


<!-- Main -->
<div class="main">
    <p>Vangel Ajanovski one and only, living legend, music maker (Tomorrowland performer, party animal at summer festivals on Ibiza along with Tiesto,
        When he was 5 years old he made a computer (Commodore 64) with his bare hands and coded in Commodore 64 BASIC V2 which was known as the
        dinosaur programming language, but that didn't stop him at mastering and creating the Linux operative system at just 15 years old, he also
        founded the internet and invented the new methods in modern programming.
        He is also known as the 'Balkan Elon Musk', ordered by Lucifer himself to torture students at FCSE and not let them pass or with bare minimum.
    </p>
</div>
</body>
</html>