<th:block xmlns:th="http://www.thymeleaf.org">
    <style>
        .page-link{
            color: #174a45;
        }
        .page-link:hover{
            color: lawngreen;
        }
        .activelink{
            /*background-color: #008C76;*/
            background-color: #174a45;
            /*background-color: gray;*/
            color:white;
        }
    </style>
    <div class="container-lg">
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="row col-lg-2 my-5 align-items-start justify-content-start">
            <a th:href="@{/books/form}" class="btn text-white" style="background-color: #008C76;">
                Add Book
            </a>
        </div>
        <div class="row my-5 justify-content-center">
            <div th:each="book : ${books.getContent()}"
                 class="col-5 col-lg-4 col-xl-3 mb-4">
                <div class="card shadow border-0 w-100 h-100">
                    <div class="card-body text-center py-4">
                        <img class="card-img w-100"
                             th:src="${book.getCoverImageUrl()}"
                             th:alt="${book.getName()}" style="height: 400px;"/>
                        <h5 class="card-title mt-3 mb-0" th:text="${book.getName()}">
                        </h5>
                        <p class="card-subtitle fs-6 fst-italic mt-0 mb-3">
                        <span th:each="author : ${book.getAuthors()}"
                              th:text="${author.getName() + ' ' + author.getSurname() + ', '}"></span>
                        </p>
                        <p class="card-text text-muted d-none d-lg-block" th:text="${book.getDescription()}">
                        </p>
                        <div class="me-2">
                            <div sec:authorize="hasRole('ROLE_USER')" class="d-inline-block p-0">
                                <form th:method="POST"
                                      th:action="@{'/my-wishlist/add/{id}' (id=${book.getId()})}">
                                    <button type="submit" class="btn btn-sm text-white mt-3"
                                            style="background-color: #008C76;">
                                        Wishlist
                                    </button>
                                </form>
                            </div>
                            <div sec:authorize="hasRole('ROLE_ADMIN')" class="d-inline-block p-0">
                                <form th:method="POST"
                                      th:action="@{'/books/{id}/delete' (id=${book.getId()})}">
                                    <button type="submit" class="btn btn-sm text-white mt-3"
                                            style="background-color: #008C76;">
                                        Delete
                                    </button>
                                </form>
                            </div>
                            <div sec:authorize="hasRole('ROLE_USER')" class="d-inline-block p-0">
                                <form th:method="POST"
                                      th:action="@{'/my-books/add/{id}' (id=${book.getId()})}">
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/books/{id}/edit' (id=${book.getId()})}" class="btn btn-sm text-white mt-3" style="background-color: #008C76;">
                                        Edit
                                    </a>
                                    <a sec:authorize="hasRole('ROLE_USER')" th:href="@{'/books/{id}/view' (id=${book.getId()})}" class="btn btn-sm text-white mt-3" style="background-color: #008C76;">
                                        Details
                                    </a>
                                    <button type="submit" class="btn btn-sm text-white mt-3"
                                            style="background-color: #008C76;">
                                        My Books
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-lg-2 my-5 align-items-start justify-content-start">
        </div>
        <nav class="row my-5 align-items-center justify-content-center" aria-label="Page navigation example">
            <ul class="pagination pagination-lg align-items-center justify-content-center">
                <li th:if="${books.totalPages}"
                    th:each="pageNumber : ${pageNumbers}"
                    class="page-item">
                    <a th:class="${pageNumber==books.number + 1} ? 'page-link activelink' : 'page-link'"
                       th:href="@{/books(size=${books.size}, page=${pageNumber-1})}"
                       th:text="${pageNumber}" ></a>
                </li>
            </ul>
        </nav>
    </div>
</th:block>

