<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container d-grid gap-3">
        <div class="row justify-content-center">
            <div class="text-center">
                <h1 class="display-5 fw-bold">📖 Welcome to Bookhive! 📖</h1>
            </div>
        </div>
        <div class="row mt-5">
            <p class="fs-3">
                Bookhive is a place where people can browse books, bookshops, join
                book clubs and interact with other book club members through the
                built-in forum!
            </p>
        </div>
        <div class="row">
            <p class="fs-3">
                This application was created by the following authors
                as a project for the faculty course "Web Programming".
            </p>
            <ul style="list-style: none" class="fs-4">
                <li>
                    👨‍💻 Blagoj Petkov
                </li>
                <li>
                    👨‍💻 Marko Spasenovski
                </li>
                <li>
                    👨‍💻 David Trajkovski
                </li>
            </ul>
        </div>
        <div class="row mt-5">
            <footer class="text-center">
                <p>
                    &copy;All rights reserved to the authors.
                </p>
            </footer>
        </div>
    </div>

</th:block>