<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row" th:each="book : ${wishlist}">
            <div class="shadow card mb-3  mx-auto" style="max-width: 820px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                                th:src="${book.getCoverImageUrl()}"
                                th:alt="${book.getName()}"
                                class="img-fluid p-2"
                        />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${book.getName()}"  style="font-weight: bold"></h5>
                            <p class="card-text" th:text="${book.getDescription()}">
                            </p>
                            <p class="card-text">
                                <small class="text-muted"
                                       th:each="author : ${book.getAuthors()}"
                                       th:text="${'author: ' + author.getName() + ' ' + author.getSurname()}"></small>
                            </p>
                            <div class="button-box" style="font-family: sans-serif">
                                <div class="d-inline-block p-0">
                                    <form th:method="POST"
                                          th:action="@{'/my-wishlist/remove/{id}' (id=${book.getId()})}">
                                        <button type="submit" class="btn btn-outline-danger">
                                            Remove
                                        </button>
                                    </form>
                                </div>
                                <div class="d-inline-block p-0">
                                    <button class="btn btn-outline-primary">Details</button>
                                </div>
                                <div class="d-inline-block p-0">
                                    <form th:method="POST"
                                          th:action="@{'/my-books/add/{id}' (id=${book.getId()})}">
                                        <button type="submit" class="btn btn-outline-success">
                                            Add to My Books
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</th:block>